main {
  background-color: transparent;
  justify-content: center;
  align-items: center;
  display: flex;
}




.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}



.title-0 h1 {
  font-size: 12px;
  color: #f1f1f1;
}

.dashboard {
  width: 30rem;
  height: 22rem;
  /* align-items: center !important;  */
}

.box {
  position: relative;
  top: 8%;
  display: flex;  
  justify-content: end;
  width: auto;
  height: auto;
  padding: 2%;
  /* min-height: 370px; */
  /* background-color: rgb(201, 200, 200, 0.5); */
  /* border-radius: 15px; */
  overflow: hidden;
  margin: 0 auto 64px;
  /* box-shadow: 5px 5px 5px rgb(164, 161, 161); */
}

.box form {
  width: 100%;
}

.campo-forms {
  width: 100%;
  height: 100%;
}

.campo {
  position: relative;
  margin-bottom: 20px;
}

.campo input[type="text"],
.campo input[type="email"],
.campo textarea {
  width: 100%;
  padding: 12px;
  padding-right: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0.997);
  border-radius: 5px;
  box-shadow: 0px 3px 3px rgb(255, 255, 255);
}

button {
  color: rgb(188, 14, 200);
  padding: 8px 16px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  border-color: rgb(188, 14, 200);
}

button:hover {
  background-color: #000000;
}

button:active {
  background-color: #d8d2d26d;
}

@media screen and (min-width: 768px) {
  .title-0 h1 {
    font-size: 28px;
  }

  .title-0 h2 {
    font-size: 24px;
  }

  .box form {
    width: 50%;
  }

  .campo-forms {
    width: 60%;
    height: 100%;
  }
}