header {
    background-color: var(--ml-yellow);
    padding: 10px 0;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.logo {
    width: 134px;
}