@import url(/header.css);
@import url(/header2.css);
@import url(/projetos.css);
@import url(/footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.918);
}
header {
  background-color: rgba(0, 0, 0, 0.808);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* mobile */
@media screen and (max-width: 767px) {
  #description-container {
    display: none;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  html,
  body {
    font-size: 16px;
  }

  .mobile-hidden {
    display: block;
  }

  .mobile-only {
    display: none;
  }

  nav {
    justify-content: flex-end;
  }

  nav a {
    color: #fff;
    margin-right: 16px;
  }

  #banner-container {
    height: 30vh;
  }

  #projects-container > div {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  #projects-container > div > div {
    margin-bottom: 0;
    padding: 8px;
  }

  #projects-container div > div > h6 {
    text-align: left;
    margin-bottom: 8px;
  }

  #projects-container div > div > p {
    text-align: left;
    margin-bottom: 8px;
  }
}

/* desktop */
@media screen and (min-width: 1024px) {
  html,
  body {
    font-size: 18px;
  }

  #banner-container {
    height: 50vh;
  }

  #banner-container h1 {
    max-width: 50%;
    font-size: 2.5rem;
  }

  .description-inner-container > div > h6 {
    font-size: 1rem;
  }

  .description-inner-container > div > p {
    font-size: 0.8rem;
  }

  #projects-container div > div > p {
    font-size: 0.8rem;
  }

  #projects-container div > div > img {
    height: 250px;
  }

  #about-cta-text-wrapper {
    width: 50%;
    padding: 64px;
  }

  #about-cta-text-overlay {
    width: 50%;
  }

  .how-it-works-cta-item-container {
    flex-direction: row;
    padding: 32px;
    margin-bottom: 32px;
  }

  .how-it-works-cta-item-container > img {
    width: 40%;
    height: 350px;
  }

  .how-it-works-cta-item-container > div {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
  }

  .how-it-works-cta-item-container > div > a {
    margin-top: auto;
  }

  #how-it-works-cta-reversed-item {
    flex-direction: row;
  }
}
.rt{
  color: #f1f1f1;
}
footer{
	font-size: 12px;
	background-color: transparent !important;
}


