header {
    width: 100%;
    height: 100px;
    background-color:transparent;
    opacity: 4.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

h5 {
    font-size: 14px;
}

nav {
    gap: 90px;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin-right: 1rem;
    color: #a86fd1;
    text-decoration: none;
}

nav a.active {
    color: #fff;
}

i {
    margin: 0, 20px, 0, 0;
}

img {
    float: left;
    margin-right: 10px;
}