.wrapper-main {
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 0px;
}

.section-2,
.section-3 {
  display: none;
}

.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: rgba(210, 211, 215, 0.325);
  border-radius: 0;
  overflow: hidden;
  padding: 64px 32px;
}

.title-0 {
  color: rgb(85, 81, 81);
  text-align: left;
  margin: auto;
}

.title-0 h1 {
  font-size: 28px;
  margin-bottom: 8px;
}

.title-0 h2 {
  font-weight: 500;
  font-size: 24px;
}


.section-main h3 {
  font-size: 18px;
  font-weight: 500;
  text-align: right;
}

.section-aside,
.section-aside .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  padding-bottom: 32px;
}

.section-aside h3,
.section-aside ul {
  text-align: left;
  color: rgb(85, 81, 81);
  width: 70%;
  margin: 0 0 16px 0;
  line-height: 1.5;
}

.section-aside h3 {
  font-size: 16px;
  font-weight: 500;
  text-align: justify;
}

.section-aside ul {
  padding: 0 24px;
}

.section-aside ul li,
.section-main ul li {
  margin: 8px 0;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
}

.section-aside img {
  width: 100%;
  border-radius: 0;
  box-shadow: 0;
  max-height: 210px;
  object-fit: cover;
}

.section-aside.last {
  padding: 0px;
}

.card-with-color {
  position: absolute;
  background-color: rgba(210, 211, 215, 0.325);
  height: 100%;
  width: 100%;
  z-index: 0;
  border-radius: 0;
  left: 0;
  top: 0px;
}

@media screen and (min-width: 768px) {
  .wrapper-main {
    flex-direction: row;
  }
  .main {
    width: 70%;
  }
  .aside {
    width: 30%;
    padding-top: 32px;
  }
  .section-1 {
    width: 95%;
    border-radius: 0 0 15px 0;
  }
  .title-0 h1 {
    font-size: 36px;
  }
  .title-0 h2 {
    font-size: 18px;
  }
  .section-2,
  .section-3 {
    display: block;
  }
  .section-aside,
  .section-aside .content {
    align-items: start;
  }
  .section-aside h3 {
    font-size: 18px;
    text-align: left;
  }
  .section-aside ul,
  .section-3 ul {
    list-style: none;
    padding: 0;
  }
  .section-aside img {
    width: 70%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(164, 161, 161);
    max-height: unset;
    object-fit: unset;
  }
  .section-aside.last {
    padding: 32px 0;
  }
  .card-with-color {
    width: 110%;
    left: -10%;
    top: 0px;
    border-radius: 15px 0 0 0;
  }
}

.section-title-1 {
  text-align: right;
  margin: 32px auto;
  color: rgb(0, 0, 0);
  width: 60%;
  align-items: center;
}
.section-number {
  font-size: 32px;
  margin-right: 8px;
}

.section-2-img,
.section-3-img {
  width: 60%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(164, 161, 161);
  display: block;
  margin: 60px auto;
  text-align: right;
}

.section-main h3,
.section-main ul {
  text-align: right;
  margin: 32px auto;
  color: rgb(85, 81, 81);
  width: 60%;
  align-items: center;
  line-height: 1.5;
  list-style: none;
}

.section-title {
  display: flex;
  align-items: center;
  margin: 32px 0;
  width: 70%;
}

.section-7 {
  display: flex;
}
.section-7 img {
  width: 100%;
}

nav a.active {
  color: #fff;
}
